In [46]:
import pandas as pd

In [47]:
train = pd.read_csv('./hackathon-online-malware-classification/train.csv')
train

                           Malware_ID  Family_ID
0    10c89be63ba167dd348e9f26100efad7          1
1    fcb69b3b139ac6a1fcf4838e6728b20c          1
2    717c08e0394b1160c1502fdbba22fd87          1
3    01db91556bc4f550b24d3e674de86f85          1
4    6c2a3e9c8817f7cbe3db562c45375b68          1
..                                ...        ...
758  c0d19ec9f11c3d09c1efd75b35b97a64          9
759  8de5115d3d0ad200cdfff9d76ab5bde1          9
760  748708b2124946e040e0e42e9f30f8ed          9
761  c6245671039ea41b7bf37e5d7c0f3d08          9
762  a9b274d5501918cd1f98658d726e8e99          9

[763 rows x 2 columns]

In [48]:
test = pd.read_csv('./hackathon-online-malware-classification/test.csv')
test

                           Malware_ID  Family_ID
0    2d0c1e9ae9a0fa608263d69c948c48fb        NaN
1    5b4909dbd45fa0be629ac6c52dae6d0a        NaN
2    06f73f2da4ecd23a45d6320b656c05d1        NaN
3    4f46526547bdd2c9000ea828428d0211        NaN
4    f07528171a222217c9a7b557d2923a88        NaN
..                                ...        ...
191  1140b963155ac9bdef327384ff2f1520        NaN
192  c474a10f6926b0d0fc3e0fe7b3e0b0e7        NaN
193  9a619d56c8b5da262518bf74ab1637e4        NaN
194  30230037a4c55a5a4b79cd18d855095f        NaN
195  4099cbed1912390fe9c8934fccd0c1c6        NaN

[196 rows x 2 columns]

In [49]:
mulware = pd.read_csv('./mulware.csv').rename(columns={ '0': 'Malware_ID'})
mulware

,Malware_ID,1,2,3,4,5,6,7,8,9,...,7662,7663,7664,7665,7666,7667,7668,7669,7670,7671
0,06f73f2da4ecd23a45d6320b656c05d1,157,251,144,205,140,139.0,157.0,172.0,157.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,a70ef490035d4155e87121c74e8a1498,158,177,190,158,177,190.0,158.0,138.0,139.0,...,158.0,178.0,190.0,187.0,158.0,178.0,190.0,187.0,158.0,178.0
2,5e94227aceb259ee59ec10a757a16f85,161,98,177,178,140,139.0,230.0,139.0,232.0,...,214.0,214.0,214.0,214.0,214.0,214.0,214.0,214.0,214.0,214.0
3,5aa478e66f3a1caaaf314b17b211fe7f,158,177,190,158,177,190.0,158.0,138.0,139.0,...,233.0,233.0,216.0,229.0,233.0,233.0,216.0,229.0,233.0,233.0
4,5af1f370b345ddc8b380f5a5bf37bb55,161,98,177,178,140,139.0,230.0,139.0,232.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,c96c4475a384efe118af518c1657164f,157,251,144,205,140,139.0,157.0,172.0,157.0,...,97.0,97.0,97.0,97.0,97.0,97.0,97.0,97.0,50.0,97.0
955,610994841c89a70b81c4013596916605,157,251,144,205,140,139.0,157.0,172.0,157.0,...,251.0,140.0,251.0,139.0,22.0,251.0,140.0,251.0,139.0,22.0
956,2d305bd64a1deedaeceeee0e8a93c583,157,251,144,205,140,139.0,157.0,172.0,157.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
957,85e4404b6fee507579df8c23fc22e2a2,229,229,229,177,190,158.0,177.0,190.0,158.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
958,95a6d384aafd0f0ee52d9045fbae03e3,229,229,229,177,190,158.0,177.0,190.0,158.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
# merge tabels
merged_train = pd.merge(train, mulware, on='Malware_ID')
merged_test = pd.merge(test, mulware, on='Malware_ID')

# train test split

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

merged_train = shuffle(merged_train)

In [52]:
merged_test

,Malware_ID,Family_ID,1,2,3,4,5,6,7,8,...,7662,7663,7664,7665,7666,7667,7668,7669,7670,7671
0,2d0c1e9ae9a0fa608263d69c948c48fb,NaN,260,205,140,139,98,229.0,233.0,216.0,...,279.0,82.0,279.0,82.0,279.0,176.0,186.0,158.0,77.0,251.0
1,5b4909dbd45fa0be629ac6c52dae6d0a,NaN,159,80,162,174,157,201.0,158.0,158.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,06f73f2da4ecd23a45d6320b656c05d1,NaN,157,251,144,205,140,139.0,157.0,172.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4f46526547bdd2c9000ea828428d0211,NaN,140,139,139,139,139,139.0,139.0,139.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,f07528171a222217c9a7b557d2923a88,NaN,177,190,190,158,161,98.0,177.0,178.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,1140b963155ac9bdef327384ff2f1520,NaN,176,162,158,140,139,178.0,190.0,158.0,...,216.0,230.0,234.0,216.0,230.0,236.0,216.0,97.0,97.0,97.0
192,c474a10f6926b0d0fc3e0fe7b3e0b0e7,NaN,140,176,157,157,157,157.0,157.0,157.0,...,159.0,202.0,176.0,176.0,176.0,159.0,176.0,159.0,176.0,159.0
193,9a619d56c8b5da262518bf74ab1637e4,NaN,229,157,159,157,157,159.0,139.0,140.0,...,268.0,258.0,168.0,168.0,6.0,10.0,7.0,158.0,17.0,7.0
194,30230037a4c55a5a4b79cd18d855095f,NaN,251,205,138,138,140,139.0,140.0,139.0,...,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0
195,4099cbed1912390fe9c8934fccd0c1c6,NaN,161,98,177,178,140,139.0,230.0,139.0,...,214.0,214.0,214.0,214.0,214.0,214.0,214.0,214.0,214.0,214.0

In [53]:
import catboost
from catboost import CatBoostClassifier

model = CatBoostClassifier(
    iterations=20,          # Number of boosting iterations
    depth=6,                 # Depth of the trees
    learning_rate=0.1,       # Learning rate
    loss_function='MultiClass', # Loss function for multiclass classification
    cat_features=None,       # List of categorical feature indices if any
    verbose=100              # Print training progress
)

# fit the model
model.fit(merged_train.drop(columns=['Family_ID','Malware_ID']), train['Family_ID'])

0:	learn: 2.1797164	total: 1.51s	remaining: 28.7s
19:	learn: 1.9598935	total: 30.4s	remaining: 0us

In [54]:
# inference
pred = model.predict(merged_test.drop(columns=['Family_ID','Malware_ID']))

In [55]:
pred

array([[5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [9],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [4],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [9],
       [9],
       [5],
       [5],
       [5],
       [5],
       [2],
       [5],
       [5],
       [4],
       [5],
       [5],
       [5],
       [5],
       [8],
       [5],
       [8],
       [5],
       [5],
       [5],
       [5],
       [3],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [3],
       [5],
       [5],
       [5],
       [5],
       [5],
       [8],
       [5],
       [5],
       [5],
       [5],
       [3],
       [5],
       [5],
       [5],
       [5],
       [3],
       [5],
       [5],
       [5],
       [9],
       [5],
       [5],
       [5],
       [5],
       [5],
       [9],
       [5],
       [5],
       [5],
       [5],
       [9],
       [5],
       [5],
       [9],
       [5],
       [5],
       [3],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [3],
       [5],
       [9],
       [5],
       [5],
       [5],
       [5],
       [4],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [3],
       [3],
       [7],
       [8],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [9],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [4],
       [5],
       [5],
       [5],
       [5],
       [3],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [3],
       [5],
       [3],
       [5],
       [5],
       [5],
       [3]])

In [56]:
my_sub = pd.DataFrame()
my_sub['Malware_ID'] = merged_test['Malware_ID']
my_sub['Family_ID'] = pred

In [57]:
my_sub

                           Malware_ID  Family_ID
0    2d0c1e9ae9a0fa608263d69c948c48fb          5
1    5b4909dbd45fa0be629ac6c52dae6d0a          5
2    06f73f2da4ecd23a45d6320b656c05d1          5
3    4f46526547bdd2c9000ea828428d0211          5
4    f07528171a222217c9a7b557d2923a88          5
..                                ...        ...
191  1140b963155ac9bdef327384ff2f1520          3
192  c474a10f6926b0d0fc3e0fe7b3e0b0e7          5
193  9a619d56c8b5da262518bf74ab1637e4          5
194  30230037a4c55a5a4b79cd18d855095f          5
195  4099cbed1912390fe9c8934fccd0c1c6          3

[196 rows x 2 columns]

In [58]:
sam_sub = pd.read_csv('./hackathon-online-malware-classification/example_submission.csv')
sam_sub

                         Malware_ID  Family_ID
0  f34f148d3c98ab9325a5394527a5d62d          1
1  4089376b199b22c2ce0d5891c884a9a1          2
2  2745add0e87504f8618927c31ca6930c          3

In [59]:
my_sub[my_sub.isin(['f34f148d3c98ab9325a5394527a5d62d']).any(axis=1)]

                           Malware_ID  Family_ID
126  f34f148d3c98ab9325a5394527a5d62d          4

In [60]:
my_sub[my_sub.isin(['4089376b199b22c2ce0d5891c884a9a1']).any(axis=1)]

                          Malware_ID  Family_ID
94  4089376b199b22c2ce0d5891c884a9a1          5

In [61]:
my_sub[my_sub.isin(['2745add0e87504f8618927c31ca6930c']).any(axis=1)]

                           Malware_ID  Family_ID
186  2745add0e87504f8618927c31ca6930c          5

In [62]:
my_sub.to_csv('sub2.csv', index=False)